# API Base URL (Change this in production)
REACT_APP_API_URL=http://localhost:5000/api

# WebSocket Server URL
REACT_APP_SOCKET_URL=ws://localhost:8080

# JWT Secret (Only used for backend, not required in frontend)
REACT_APP_JWT_SECRET=your-secret-key

# Environment Mode
REACT_APP_ENV=development

# Allowed Preview host/domain
VITE_ALLOWED_HOSTS=your-first-domain.com,your-second-domain.com
